<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="cordova-emvco-qrparser"
    version="1.0.0">
    <name>Cordova EMVCoParser plugin</name>
    <description>QRCode parser for generic QRCode</description>
    <license>MIT</license>
    <keywords>EMVCoParser,NIBSS,cordova</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <repo>https://github.com/Senjonnes/cordova-emvco-qrparser.git</repo>
    <js-module src="www/emvco-qrparser.js" name="plugin">
      <runs/>
      <clobbers target="window.EMVCoQRParser" />
    </js-module>
    <!-- android -->
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="EMVCoQRParserPlugin">
          <param name="android-package" value="com.ng.fidelitybank.emvco.qrparser.EMVCoQRParserPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
      <source-file src="src/android/Parser/EMVCoQRParserPlugin.java" target-dir="src/com/ng/fidelitybank/emvco/qrparser/" />
      <source-file src="src/android/Model/EMVCoQRParserModel.java" target-dir="src/com/ng/fidelitybank/emvco/qrparser/" />
    </platform>
</plugin>
